:root {
	--header_nav_margin_left: 6%;
	--header_nav_margin_right: 7%;
	
	--main_left_right_margin: 7%;
	--minus_main_left_right_margin: -8%;
}

* {
	box-sizing: border-box;
}

body {
	font-size: 15px;
	font-family: 'Raleway', sans-serif;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

.visually_hidden {
	display: none;
}

#menu_checkbox {
	display: none;
}

.toggle_button {
	cursor: pointer;
	display: none;
	font-size: 2em;
}

/* ******************************************************
						HEADER
********************************************************* */
.main_header {
	position: fixed;
	width: 100%;
	
	background-color: rgb(255, 255, 255);
	
	padding-bottom: 1.5em;
	box-shadow: 0px 10px 10px rgba(0,0,0,0.3);
}

.header_logo {
	height: 4em;
	margin-top: -1em;
}

.header_navigation {
	margin-left: var(--header_nav_margin_left);
	margin-right: var(--header_nav_margin_right);
	
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	justify-content: space-between;
	align-items: flex-end;
}

.header_navigation_items {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	
	padding: 0; /* Убрать отступы списка */
	margin: 0; 
}

.header_navigation_item {
	color: #000;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	
	margin-left: 2em;
}

.button_call_and_address {
	font-family: 'Roboto', sans-serif;
	
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	justify-content: flex-end;
	
	min-height: 2.5em;
}

.header_button_call {
	font-size: 16px;
	background: #da251d;
	
	border: none;
	color: rgb(255, 255, 255);
	
	padding-left: 3em;
	padding-right: 3em;
	
/*	Наклон */
	-webkit-transform: skewX(40deg); /* Для Safari и Chrome */
    -moz-transform: skewX(40deg); /* Для Firefox */
    -o-transform: skewX(40deg); /* Для Opera */
    -ms-transform: skewX(40deg); /* Для IE */
    transform: skewX(40deg); /* CSS3 */
}

.header_button_call span {
	font-weight: 700;
	display: block;
	
/*	Наклон */
	-webkit-transform: skewX(-40deg); /* Для Safari и Chrome */
    -moz-transform: skewX(-40deg); /* Для Firefox */
    -o-transform: skewX(-40deg); /* Для Opera */
    -ms-transform: skewX(-40deg); /* Для IE */
    transform: skewX(-40deg); /* CSS3 */
}

.header_address {
	background: #0085ff;
	padding-right: 8%;
	color: #fff;
	
	margin: 0;
	margin-left: -4em;
	
	padding-left: 6em;
	padding-top: .7em;
	padding-bottom: .7em;
}

/* ******************************************************
						MAIN
********************************************************* */
.main_section {
	margin-left: var(--main_left_right_margin);
	margin-right: var(--main_left_right_margin);
	padding-top: 120px;
	
	display: grid;
	grid-template: repeat(6, auto) / repeat(4, 1fr);
}

.main_banner {
	grid-area: 1 / 1 / 2 / 5;
}

.services_navigation {
	grid-column: 1 / 2;
}

.online_calculator {
	grid-column: 1 / 2;
}

.sign_making {
	grid-area: 2 / 2 / 6 / 6;
}

.send_request {
	grid-area: 6 / 1 / 7 / 5;
}

.type_product {
	grid-area: 7 / 1 / 8 / 4;
}

/* ************************************* */
.main_banner, 
.services_navigation, 
.sign_making, 
.type_product_item {
	padding-left: 11px;
	padding-right: 11px;
}

.online_calculator {
	margin-left: 11px;
	margin-right: 11px;
}

/* ******************************************************
				Баннер вверху страницы
********************************************************* */
.main_banner {
	width: 100%;
	margin-bottom: 22px;
}

/* ******************************************************
				Все услуги. Блок слева
********************************************************* */
.services_title {
	background: #2196f3;
	color: rgb(225,225,225);
	
	padding-top: 15px;
	padding-bottom: 15px;
	
	text-transform: uppercase;
	text-align: center;
	font-size: 16.5px;
	font-weight: 900;
	letter-spacing: 2px;
}

.services_items {
	padding: 0;
	padding-left: 15px;
	padding-right: 15px;
}

.services_items .last {
	padding-bottom: 0;
	border-bottom: none;
}

.services_item {
	color: #3c3b3b;
	font-size: 13.5px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 900;
	line-height: 22.5px;
	
	display: block;
	padding-bottom: 10px;
	padding-top: 10px;
	
	border-bottom: 1px solid lightgray;
}

/* ******************************************************
				Блок "Изготовление вывесок"
					Первый текстовый блок
********************************************************* */
.sign_making {
	padding-top: 25px;
}

.sign_making_title {
	margin-top: 0;
	
	color: #3c3b3b;
	font-size: 2em;
	text-transform: uppercase;
	font-weight: 900;
}

.sign_making_text {
	font-family: 'Roboto', sans-serif;
	line-height: 22.5px;
	
	padding-bottom: 15px;
}

.sign_making_text > a {
	color: #039be5;
}

/* ******************************************************
				Блок "Изготовление вывесок"
				Таблица "Стоимость вывески"
				и последний текстовый блок
********************************************************* */
.sign_making_table_price {
	width: 100%;
	border-spacing: 0;
}

.sign_making_title2 {
	font-size: 18px;
	line-height: 20px;
	text-transform: uppercase;
	font-weight: 900;
	text-align: left;
	color: #3c3b3b;
	
	margin-top: 26px;
	margin-bottom: 21px;
}

.sign_making_table_price th, 
.sign_making_table_price td{
	padding: 15px 5px;
	text-align: left;
	font-family: sans-serif;
}

.sign_making_table_price th {
	border-bottom: 1px solid gray;
}


.sign_making_table_price tr:nth-last-child(even) {
	background-color: lightgray;
}

/* ******************************************************
			Используйте наш калькулятор + кнопка
********************************************************* */
.online_calculator {
	padding: 15px;
	border: 3px solid #2196f3;
	
	font-size: 13.5px;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 20px;
	
	text-align: center;
}

.online_calculator_text {
	text-align: left;
	
	padding: 15px;
	padding-top: 0;

	margin-bottom: 13px;
	margin-bottom: 13px;
}

.online_calculator_open {
	display: inline-block;
	
	background-color: #2196f3;
	border-radius: 2em;
	
	padding: 1em 3.5em;
	margin-bottom: 13px;
}

.online_calculator_open > span {
	color: #fff;
}


/* ******************************************************
					Отправить заявку 
********************************************************* */
.send_request {
	background-color: #8a40b0;
	background-image: url(../img/arow.png);
	background-repeat: no-repeat;
	background-position: center right 20%;
	background-size: auto 90% ;
	
	padding-right: 35%;
	padding-left: 35%;
	
	margin-left: var(--minus_main_left_right_margin);
	margin-right: var(--minus_main_left_right_margin);
	margin-top: 20px;
}

.send_request_form {
	padding: 30px;
	color: #fff;
	
	display: flex;
	flex-direction: column;
}

.send_request_title {
	text-align: center;
	font-size: 25px;
	font-weight: 900;
	
	text-transform: uppercase;
	line-height: 27px;
	letter-spacing: 1px;
	
	margin-top: 10px;
}

.send_request_container {
	display: flex;
	justify-content: space-between;
}

.send_request_name, 
.send_request_email {
	width: 100%;
	font-family: sans-serif;
	padding: 9px;
	
	margin-top: 24px;
	margin-bottom: 9px;
}

.send_request_name {
	margin-right: 15px;
}

.send_request_textarea {
	font-family: sans-serif;
	padding: 9px;
	
	margin-top: 15px;
	margin-bottom: 15px;
	
	width: 100%;
	max-width: 100%;
	min-width: 100%;
}

.send_request_text {
	width: 60%;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	line-height: 18px;
}

.send_request_text a {
	color: #039be5;
}

.send_request_submit {
	align-self: flex-end;
	font-weight: 900;
	color: #fff;
	letter-spacing: 1px;
	text-transform: uppercase;
	
	background: linear-gradient(to left, #5736a1, #fb5557);
	box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px;
	
	padding: 1em 5.3em;
	margin-top: 15px;
	
	border: none;
	border-radius: 2em;
}

/* ******************************************************
					Типы продуктов
					4 фото + ссылки
********************************************************* */
.type_product {
	margin-top: 30px;
}

.type_product_list {
	display: grid;
	
}

.type_product_item {
	
}

.type_product_image {
	width: 270px;
}

.type_product_title {
	color: #039be5;
	text-transform: uppercase;
	line-height: 16.5px;
}








